<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>{{page.title}}</title>
  	<link rel="stylesheet" href="/style.css" type="text/css" >
  	<link rel="alternate" type="application/atom+xml" title="ATOM" href="/atom.xml">
</head>
<body>
	<div id="frame">
		<div id="header">
			sanity check... [<span id="fail">fail</span>]
		</div>
		<div id="right">
			<strong>enemies of enemies</strong>
			<ul>
				<li><a href="http://leftnode.com">leftnode</a></li>
				<li><a href="http://sinlessvillainy.com/">sinless villainy</a></li>
			</ul>
			<hr />

			<strong>me, elsewhere</strong>
			<ul>
				<li><a href="http://twitter.com/zacharydanger/">twitter</a><li>
				<li><a href="http://github.com/zacharydanger/">github</a></li>
				<li><a href="http://facebook.com/zacharydanger/">facebook</a></li>
			</ul>
			<hr />

			<script type="text/javascript" src="http://www.ubuntu.com/files/countdown/display.js"></script>
		</div>
		<div id="content">
			{{content}}
		</div>
		<div id="footer">
			just a <a href="http://zacharydangercampbell.com">nerd</a> getting out of his head
			<br />
			&copy; 2010 sanitycheckfail.com
		</div>
	</div>
</body>
</html>