body
  font-family: Arial, sans serif


blockquote
  font-style: italic


div.nav
  text-align: right
  overflow: auto
  padding: 1px


#frame
  width: 960px
  margin: 0 auto

#right
  float: right
  width: 180px
  border-left: 1px solid #ccc
  padding-left: 10px
  margin-bottom: 10px

  ul
    list-style: none
    padding: 0px
    margin: 0px

    li
      padding: 0px
      margin: 0px

  hr
    height: 1px
    background-color: #ccc
    border: 0px

#header
  font-family: courier, monospace
  font-weight: bold
  font-size: 24px
  border-bottom: 1px solid #ccc
  padding-bottom: 5px
  margin-bottom: 5px

  span#fail
    color: #f00


#footer
  text-align: center
  font-size: 12px
  clear: both
  border-top: 1px solid #ccc
  margin-top: 10px
  padding-top: 5px


a.nav_link
  font-size: 14px


.blog_post
  .title
    font-weight: bold

  .meta
    font-size: 10px


#content
  text-align: justify
  width: 750px

#comments
  border-top: 1px solid #ccc
  padding-top: 5px
